<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colores | Diagnóstico</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <style>hr,h1,h2,h3,h4,h5,h6 {margin: 0;}</style>
</head>
<body>
    <div class="container my-5">
        <h1 class="mb-3">colores</h1>
        <div class="card" style="width: fit-content; line-height: 0;">
            <div class="card-body" id="conColors">
                
            </div>
        </div>
    </div>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/colors_controller.js"></script>
</body>
</html>